@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
  background-color: #f2f5f9;
  animation: smoothBackground 1s ease-in-out;
}

.app-container {
  background-image: url("pexels-slendyalex-3648850.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  margin: auto;
}

.card {
  position: relative;
  background-color: hsl(0, 91%, 54%);
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.title {
  font-weight: 800;
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #ffffff;
}


.toggle-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.card::before {
  content: "";
  width: 100%;
  height: 3px;
  border-radius: 10px 10px 0 0;
  background-color: #ffffff;
  display: block;
  margin: 10px 0;
  animation: pulseLine 2s infinite ease-in-out;
}

.card::after {
  content: "";
  width: 100%;
  height: 3px;
  border-radius: 0 0 10px 10px;
  background-color: #ffffff;
  display: block;
  margin: 10px 0;
  animation: pulseLine 2s infinite ease-in-out;

}

.toggle-buttons button {
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: hsl(0, 0%, 100%);
  color: #000000;
  font-weight: 800;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.toggle-buttons .active {
  background-color: #000000;
  color: rgb(255, 255, 255);
}

.fetch-button {
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  background-color: #ffee00;
  color: rgb(0, 0, 0);
  font-size: 18px;
  margin-bottom: 20px;
  cursor: pointer;
  font-weight: 800;
}


.fetch-button:disabled {
  background-color: rgb(69, 7, 241);
  color: #ffffff;
  cursor: not-allowed;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.content {
  margin-top: 20px;
}

.dog-image {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
}

.cat-image {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
}

.animal-image {
  max-width: 100%;
  height: auto;
  max-height: 400px;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  object-fit: contain;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.joke-box {
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 10px;
  text-align: left;
}